/* --------banner-section-starts---- */
.body-inner .common-inner-banner .inner-pattern img {
  position: absolute;
  opacity: 0.3;
  top: 12%;
}
.body-inner .common-inner-banner {
  background: #0b2359;
}
.body-inner .topbar-transparent {
  background: #051a49;
}
.body-inner .header-standard {
  background: rgb(20 46 100 / 56%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border: 1px solid rgba(35, 70, 144, 0.3);
}
.body-inner .common-inner-banner {
  padding: 1px;
}

.text-red {
  color: rgb(170, 31, 31);
}
.text-bold {
  font-weight: bold;
}

.body-inner .banner-content {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.body-inner .common-inner-banner .banner-tagline {
  text-align: center;
  margin: 20px;
}
.body-inner .common-inner-banner .banner-tagline span {
  font-size: 15px;
  padding: 5px 10px;
  margin: 20px;
  background: rgba(150, 199, 212, 0.56);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(150, 199, 212, 0.3);
}
.body-inner .common-inner-banner .title {
  text-align: center;
  line-height: 1.4;
  color: #ffffff;
  font-size: 42px;
}
.body-inner .common-inner-banner .title span {
  /* background: linear-gradient(95deg, #023575 0.75%, #da0e17 101.34%);  */
  background: linear-gradient(95deg, #60b5f3 0.75%, #da0e17 101.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent;  */
  position: relative;
  display: inline-block;
}

.body-inner .title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 3px;
  background: linear-gradient(95deg, #60b5f3 0.75%, #da0e17 101.34%);
  animation: grow 2.5s forwards linear infinite;
}
.common-inner-banner .shape-tri-3 {
  position: absolute;
  right: 0;
  bottom: 25%;
}
.common-inner-banner .shape-tri-4 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.common-inner-banner .shape-tri-1 {
  position: absolute;
  width: 15px;
  animation: animationFramesOne 25s infinite linear;
  left: 0;
}
.common-inner-banner .shape-tri-1 img {
  width: 13px;
}
@keyframes grow {
  to {
    width: 100%;
  }
}
.common-inner-banner .banner-tagline span img {
  width: 22px;
  padding-bottom: 6px;
}
.common-inner-banner .banner-quote {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

/* ---------banner-section-ends */
.mb-60 {
  margin-bottom: 60px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-100{
  margin-top: 100px;
}
.mt-200{
  margin-top: 200px;
}
.text-center {
  text-align: center;
}
.common_h4 {
  font-size: 36px;
  line-height: 1.3;
  color: #0b2359;
}
.grad-text {
  background: linear-gradient(95deg, #6500ff 0.75%, #da0e17 101.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.welcome-intro h1 {
  font-size: 54px;
}
.contact-btn {
  /* background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%); */
  background: linear-gradient(95deg, #023575 0.75%, #da0e17 101.34%);
  padding: 15px 15px;
  margin: 12px;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #ffffff !important;
  border: none;
  transition: 0.5s ease-in;
}
.smm-leading-right-img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.web-design-btn {
  margin: 0 !important;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.contact-btn:hover {
  background: linear-gradient(95deg, #da0e17 0.75%, #023575 101.34%);
  color: #ffffff;
  transition: 0.5s ease-in;
}

.contact-btn span {
  position: absolute;
}

.contact-btn span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626); */
  /* background: #ffffff9c; */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #ffffff9c);
  animation: 3s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.contact-btn span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  /* background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626); */
  /* background: #ffffff9c; */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #ffffff9c);
  animation: 3s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.contact-btn span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;

  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #ffffff9c);
  animation: 3s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.contact-btn span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #ffffff9c);
  animation: 3s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
/* --------------------------- */

/* .right-leading-container {
  width: 100%;
  height: 100%;
} */

.leading-smm-title {
  font-size: 40px !important;
  line-height: 50px !important;
}
.right-leading-container {
  /* background: url(../images/smm-page/circle-bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.move-y {
  animation: move-x 3s linear infinite alternate;
}
@keyframes move-x {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-40px);
  }
}
.marketing-strategy-img {
  width: 40px;
}
.seo-img {
  width: 30px;
}
.orbit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
}
.circle-wrapper {
  position: absolute;
  transform-origin: 0 0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  animation: moveUpdown 3s ease-in-out infinite alternate both;
  /* animation: orbit 30s linear infinite; */
}

.email {
  width: 130px;
  height: 130px;
  top: -236px;
  left: -57px;
  background-color: #ff5722;
  transition: all 0.5s ease;
  /* animation-delay: 0s; */
}
.strategy {
  width: 140px;
  height: 140px;
  top: -87px;
  right: -220px;
  background-color: rgb(121, 218, 248);
  transition: all 0.5s ease;
  /* animation-delay: -4s; */
  /* transform: translate(-45px, -45px) rotate(0deg) translateX(180px)
    rotate(-72deg); */
  /* transform: translate(-45px, -45px) rotate(0deg) translateX(60px) rotate(0deg); */
}
.dot1 {
  bottom: 0;
  right: 208px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 10px;
  background-color: #da0e17;
  transition: all 0.5s ease;
  /* animation-delay: -8s; */
  /* transform: translate(-45px, -45px) rotate(144deg) translateX(60px)
    rotate(-144deg); */
}
.seo {
  width: 120px;
  height: 120px;
  background-color: #1a1a2e;
  bottom: -188px;
  left: -198px;
  transition: all 0.5s ease;
  /* animation-delay: -12s; */
  /* transform: translate(-15px, -15px) rotate(216deg) translateX(180px)
    rotate(-216deg); */
}

.dot2 {
  bottom: -244px;
  left: 52px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
  background-color: #ffc107;
  transition: all 0.5s ease;
  /* animation-delay: -16s; */
  /* transform: translate(-15px, -15px) rotate(288deg) translateX(180px)
    rotate(-288deg); */
}

.posting-img {
  width: 30px;
}

.measuring-img {
  width: 80px;
}

.advertising-img {
  width: 60px;
}
.engaging-img {
  width: 50px;
}

/* @keyframes orbit {
  from {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
} */

@keyframes moveUpdown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.text-white {
  color: #ffffff;
}
.dash-and-paragraph {
  display: inline-flex;
  padding-top: 15px;
  gap: 20px;
  font-size: 16px;
  margin: 10px 0;
}

.icon-list-type {
  width: 22px;
}

.left-leading-container {
  padding-right: 70px;
}

.circle-round-2 {
  position: absolute;
  top: 222px;
  left: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background-color: #ffc107;
  animation: rotate 20s linear infinite;
  animation-delay: -4s;
}

.marketing-strategy-img {
  width: 60px;
  height: 60px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

/* ------------ */

/* .content-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: start;
} */

.why-choose-title h2 {
  font-size: 40px !important;
  line-height: 50px !important;
}

.why-choose-content {
  line-height: 22px;
  margin-top: 24px;
  font-size: 16px;
}

.social-why-choose-img {
  width: 600px;
  height: 600px;
}

/* .card-container {
  display: flex;
  gap: 30px;
  padding: 20px;
} */

.why-choose-card {
  width: 370px;
  height: 400px;
  line-height: 20px;
  margin: 30px 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 12px;
}

.why-choose-card p {
  font-size: 12px;
}
.circle-item-1 {
  color: #0066ff;
}
.circle-item-2 {
  color: orange !important;
}
.circle-item-3 {
  color: palevioletred !important;
}



.leading-smm-section .icon {
  position: relative;
  z-index: 2;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-12deg);
  transition: all 0.3s ease;
}
.leading-smm-title h2 {
  line-height: 50px;
}
.leading-smm-title p {
  font-size: 18px !important;
}

.icon img {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.circle {
  position: absolute;
  right: -10px; /* Start from right side */
  bottom: -10px;
  width: 40px;
  height: 40px;
  background: #0066ff;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.why-choose-card h6 {
  margin: 20px 0 10px;
  font-size: 22px;
  /* color: #333; */
}

.why-choose-card p {
  margin: 0;
  /* color: #666; */
  font-size: 16px;
  line-height: 1.5;
}


/* .why-choose-card svg {
  position: absolute;
  right: 0;
  top: 0;
  stroke: #d8d7d7;
  stroke: #ffffff;
  transition: 0.35s;
  fill: none;
} */
.wrapper-1 {
  background-color: #fbe7f3;
}
.wrapper-2 {
  background-color: #efe8ff;
}
.wrapper-3 {
  background-color: #ece8e5;
}
.wrapper-4 {
  background-color: #ece8e5;
}
.wrapper-5 {
  background-color: #ffe8ca;
}
.wrapper-6 {
  background-color: #fbe7f3;
}
.wrapper-7 {
  background-color: #eee7fe;
}
.wrapper-8 {
  background-color: #efe8ff;
}
.wrapper-9 {
  background-color: #ece8e5;
}

.why-choose-card:hover {
  /* background-color: #2e2d2d; */
  /* background-color: #000000; */
  background-color: #0b2359;
}
.why-choose-card:hover svg {
  stroke: orangered;
  /* fill: orangered; */
}
.why-choose-card:hover h6 {
  color: #ffffff;
}
.why-choose-card:hover p {
  color: #ffffff;
}

/* .why-choose-smm-sec {
  background-color: #0b2359;
} */

/* -----social-media-platform--- */
.content-top-wrapper {
  align-items: center !important;
  
}
.media-platform-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.social-media-platform {
  padding: 10px 20px;
  /* background-color:#0b2359 ; */
  /* background-color: #0b2359; */
  position: relative;
  /* background-color: #000000; */
}

/* .media-platform-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
} */

.media-platform-title h2,
.media-platform-title p {
  /* color: #ffffff; */
  /* color: #000000; */
}

.media-platform-text p {
  /* color: #ffffff; */
  color: #000000;
  width: 70%;
}

.media-platform-text .vector .star {
  fill: gray;
  animation: rotate 20s linear infinite;
  position: absolute;
  top: -42%;
  left: 92%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
.media-platform-text .vector .star-bg {
  fill: gray;
  position: absolute;
  top: 0%;
  left: 95%;
  transform: translate(-50%, -50%);
}
.media-platform-text {
  display: flex;
  align-items: end;
  margin: 20px 0;
}

.social-icon-wrapper {
  /* background-color: #ffffff;
  border-radius: 50%;
  width: 56px;
  padding: 6px 8px;
  margin: 40px 0 10px 132px; */
  margin-top: 60px;
  /* box-shadow: 0 24px 48px -32px rgba(47, 50, 147, 0.64); */
  box-shadow: 40px 40px 60px #f8f6f6, -20px -20px 60px #ffffff;
  /* background-color: #ffffff; */
}
.card-content-wrapper h2 {
  font-size: 26px;
  /* color: #ffffff; */
  color: #000000;
  margin: 10px 0;
  text-align: center;
}
.card-content-wrapper p {
  font-size: 16px;
  /* color: #ffffff; */
  color: #000000;
  line-height: 22px;
}
.card-content-wrapper {
  height: 330px;
  width: 550px;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 5%);
  margin-top: 26px;
  background-color: #ffffff;
  padding:10px 30px;
  border-radius: 12px;
  position: absolute;
  z-index: 2 !important;
  
}
.facebook-card, .linked-in-card, .youtube-card{
   margin-left: -164px;
}
.instagram-card, .twitter-card{
  margin-left: -80px !important;
}
.instagram-text, .twitter-text{
 padding: 30px !important;
}
.social-media-img{
  border-radius: 12px;
  z-index: 1 !important;
}

.curve-icon svg {
  position: absolute;
  right: 0;
  top: 0;
  stroke: rgb(231, 231, 231);
  transition: 0.35s;
  fill: none;
}

.card-title-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.card-title-sec svg{
  margin-top: 4px;
}
.icon-social-media{
  width: 46px;
  margin-bottom: 6px;
  height: 42px;
}

/* ---------btn-hover----- */
/* From Uiverse.io by vinodjangid07 */

.service-icon {
  transform: translateY(-14px);
  transition: all 3s ease;
}
/* ----------service-section--------- */
.consulting {
  border-radius: 20px;
  margin-bottom: -50px;
  margin-top: 40px;
  padding: 20px;
}

.card-wrapper-1,
.card-wrapper-2,
.card-wrapper-3,
.card-wrapper-4,
.card-wrapper-5,
.card-wrapper-6,
.card-wrapper-7,
.card-wrapper-8,
.card-wrapper-9 {
  background-color: #ffffff;
  transition: all 0.5s ease;
}
.consult-item-1 {
  background-color: #ffe773;
}
.consult-item-2 {
  background-color: #ffc0b3;
}
.consult-item-3 {
  background-color: #bdffb2;
}
.consult-item-4 {
  background-color: #f8afdb;
}
.consult-item-5 {
  background-color: #fcd9ac;
}
.consult-item-6 {
  background-color: #c3aee9;
}
.consult-item-7 {
  background-color: #fad8d1;
}
.consult-item-8 {
  background-color: #c4c2c1;
}

.consult-item-9 {
  background-color: #f7cd96;
}

.service-card-wrapper {
  position: relative;
  width: 100%;
  height: 80%;
  /* width: 400px;
  height: 350px; */
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  padding: 20px;

  padding-bottom: 0;
  z-index: 11;
  margin: 60px 10px;
}
.service-card-wrapper h3 {
  margin-top: 10px;
}

.service-text-wrapper {
  width: 300px;
  height: 300px;
}


.service-card-wrapper p {
  line-height: 22px;
}
.service-icon {
  width: 50px;
  margin-top: 20px;
}
.service-card-wrapper::before {
  content: "";
  position: absolute;
  top: -11%;
  background-image: url(../images/smm-page/service-card-highlighter.png);
  width: 85px;
  left: -13%;
  height: 91px;
  /* transform: scale(0); */
  /* background-repeat: no-repeat; */
  opacity: 0;
  transition: opacity 0.3s ease;
}
.service-card-wrapper:hover::before {
  opacity: 1;
}
.card-wrapper-1:hover {
  background-color: #fcf2c4;
  border: 2px solid #f7ca06;
}
.card-wrapper-2:hover {
  background-color: #fdeeea;
  border: 2px solid #fa714b;
}
.card-wrapper-3:hover {
  background-color: #d9f7d4;
  border: 2px solid #27ee04;
}
.card-wrapper-4:hover {
  background-color: #fbe7f3;
  border: 2px solid #f521a0;
}
.card-wrapper-5:hover {
  background-color: #f5e4cf;
  border: 2px solid #f58f14;
}
.card-wrapper-6:hover {
  background-color: #f1eff5;
  border: 2px solid #9468e6;
}
.card-wrapper-7:hover {
  background-color: #fdeeea;
  border: 2px solid #fa714b;
}
.card-wrapper-8:hover {
  background-color: #eceae8;
  border: 2px solid #817c79;
}
.card-wrapper-9:hover {
  background-color: #f5e4cf;
  border: 2px solid #f5ae58;
}

/* ------faq-section---- */
.faq-section {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  
}

.faq-pattern-2-wrapper {
  position: absolute;
  top: -43%;
  left: 0%;
}

.faq-title {
  margin-bottom: 80px;
  position: relative;
}
.faq-section .title {
  font-size: 46px;
  font-weight: bold;
}

.accordion-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.accordion-single {
  transition: 0.3s;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 1px solid rgb(206, 203, 203);
}
.accordion-single h5 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
.accordion-btn {
  background: transparent;
  /* color: #ffffff; */
  border: 0;
  width: 100%;
  text-align: left;
  padding: 0px;
  position: relative;
  cursor: pointer;
  padding-right: 40px;
  font-weight: bold;
}
.faq-section .content-area {
  display: none;
  padding-top: 15px;
}
/* .faq-container {
  position: relative;
} */
.accordion-btn::after {
  content: "\f107";
  position: absolute;
  font-family: "FontAwesome";
  top: 50%;
  right: 0;
  font-size: 32px;
  transform: translateY(-50%);
  transition: transform 0.3s;
  /* color: #ffffff; */
}
.accordion-single.active .accordion-btn::after {
  transform: translateY(-50%) rotate(180deg);
}
.faq-section .content-desc {
  /* color: #ffffff; */
  font-size: 16px;
  text-align: start;
}
.faq-section .highlight {
  /* position: absolute;
  right: -10px; */
  position: absolute;
  top: -43%;
  right: 2%;
  width: 88px;
  height: 38px;
  animation: ZoomInOut 2s linear infinite alternate;
}

.row.justify-content-center {
  display: flex;
  justify-content: center;
}

.spin {
  margin-right: 12px;
  animation: spin 15s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ZoomInOut {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

/* ----why-choose-tab-concept---- */
.why-choose-tab-container{
  /* background-color: #0b2359; */
  /* color: #ffffff; */
  padding: 20px;
}
.why-choose-left-section{
    background-color: #0b2359;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.why-choose-tab-section h3{
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: unset !important;
}
.why-choose-tab-buttons {
  /* background-color: #f1f1f1; */
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 380px;
  text-align: center;
}
.why-choose-tab-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #333;
  width: 100%;
  text-align: left;
}
.why-choose-button-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color:rgb(77, 76, 76); */
  /* background: linear-gradient(95deg, #11517e 0.75%, #da0e17 101.34%); */
  transition: width 1s ease;
  z-index: 0;
  border-radius: 6px;
}
.why-choose-button-text {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding: 6px;
  margin-top: 6px;
  
}
.why-choose-tab-button:not(:last-child){
  border-bottom: 1px solid rgb(82, 81, 81);
}
.why-choose-tab-img{
  width:300px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
  border-radius: 12px;
}
.why-choose-tab-content {
  flex-grow: 1;
  padding: 20px;
  /* background-color: #fff; */
  position: relative;
  /* color: #ffffff; */
}
.why-choose-tab-section p{
  padding: 0 16px;

}
 .why-choose-sec-heading{
  align-items: center !important;
  padding: 20px;
  margin-top: 10px;
 }
.why-choose-tab-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* border-radius: 16px; */
  padding: 10px 10px;
}

.why-choose-tab-section.active {
  opacity: 1;
}
.why-choose-tab-button.active .why-choose-button-background {
  width: 100%;
}
/* .why-choose-tab-button.active .why-choose-button-text {
  color: white;
} */
.card-one{
  background-color: #fff2e0;
}
.card-two{
  background-color: #e5e5f1;
}
.card-three{
  background-color: #faeceb;
}
.card-four{
  background-color: #def8f5;
}
.card-five{
  background-color: #fce6e5;
}
.card-six{
  background-color: #ffefbc;
}
.card-seven{
  background-color: #d5e2ed;
}

@media only screen and (max-width: 1200px) {
  .facebook-card, .linked-in-card, .youtube-card{
    margin-left: 100px;
 }
 .card-content-wrapper {
  margin-top: unset;
  width: 314px !important;
  padding: 16px !important;
 }
 .media-service-card-container {
  margin-top: 100px;
 }

}























/* -----responsive starts here---- */
@media only screen and (max-width: 1440px) {
}


  .dash-and-paragraph {
    margin: unset;
  }
  .why-choose-card {
    width: 310px;
    height: 430px;
  }
  .media-platform-text .vector .star-bg {
    left: 84%;
  }
  .media-platform-text .vector .star {
    left: 80%;
  }
  .card-text-wrapper {
    width: 290px;
  }
  .card-content-wrapper {
    width: 320px;
    padding: unset;

  }
  .service-text-wrapper {
    width: 256px;
    height: 336px;
  }
  .faq-section .highlight {
    right: -4%;
  }
  .faq-pattern-2-wrapper {
    left: -6%;
  }
  .card-content-wrapper:hover {
    box-shadow: unset;
    /* box-shadow: 40px 40px 60px #f8f6f6, -20px -20px 60px #ffffff; */
    /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
  }
}

@media only screen and (max-width: 991px) {
  .right-leading-container {
    display: none;
  }
  .media-platform-text .vector .star-bg {
    left: 90%;
  }
  .media-platform-text .vector .star {
    left: 85%;
    top: 15%;
  }
  .service-text-wrapper {
    height: 326px;
  }
  .faq-section .highlight {
    right: 0%;
    top: -19%;
  }
  .faq-pattern-2-wrapper {
    left: 0%;
    top: -15%;
  }
  .faq-section .title {
    line-height: 50px;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  .leading-smm-title h2 {
    font-size: 30px;
    line-height: 42px;
  }
  .leading-smm-title p {
    font-size: 15px;
  }
  .left-leading-container {
    padding-right: unset;
  }
  .why-choose-title h2 {
    font-size: 30px !important;
  }
  .why-choose-card {
    width: unset;
    height: unset;
  }
  .media-platform-text .vector .star-bg {
    display: none;
  }
  .media-platform-text .vector .star {
    display: none;
  }
  .media-platform-text p {
    width: unset;
  }
  .card-text-wrapper {
    width: unset;
  }
  .youtube-wrapper,
  .twitter-wrapper {
    height: 520px !important;
    margin-top: 20px !important;
  }
  .media-platform-title h2 {
    font-size: 30px !important;
  }
  .social-service-title h2 {
    font-size: 32px !important;
    text-align: center;
  }
  .service-text-wrapper {
    width: 350px;
    height: 240px;
  }
  .faq-section .title {
    line-height: 50px;
    font-size: 34px !important;
  }
}

/* --social-service-card-new */
.media-service-card-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
}

.media-service-card {
  width: 320px;
  height: 300px;
  /* background-color: #f1f1f1; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: width 0.9s ease;
  overflow: hidden;
  position: relative;
  margin: 0 20px;
  /* border: 1px solid rgb(206, 205, 205); */
}
.smm-leading-pattern{
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px 30px;
  width: 400px;
  z-index: 1;
}
.media-service-card:hover {
  /* width: 380px; */
  width: 420px;
  /* height: 460px; */
  height: 400px;
}

.media-service-card-content {
  padding: 10px 20px;
  /* text-align: center; */
}

.media-service-card-content h3 {
  margin-top: 20px;
}

.media-service-card-content p {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.media-service-card:hover{
  background-color: #f3f7ff;
}

.media-service-card:hover .media-service-card-content p {
  opacity: 1;
  transform: translateY(0);
}
.media-service-card:hover .media-service-card-icon{
  transform: rotate(-40deg) translateY(10px);
}
.media-service-card-icon {
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 26px;
  color: #ffffff;
  background-color: #333;
  border-radius: 50%;
  /* padding:4px 6px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 14px 0; */
  padding-top: 4px;
  width: 40px;
  height: 40px;
  transition: transform 0.5s ease;
}

.media-service-card-number {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color:rgb(204, 202, 202);
}
