.web-dev-section .title-content span {
  color: #da0e17;
}
.web-dev-section .title-content {
  text-align: start;
  line-height: 1.6;
}
.web-dev-section .intro-btn a {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );
  margin: 10px;
  padding: 13px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  /* border-radius: 10px; */
  display: block;
  width: fit-content;
}
.web-dev-section .intro-btn a:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/* intro-btn*/
.banner-new-btn {
  background: linear-gradient(45deg, #023575, #da0e17);
  text-decoration: none;
  padding: 10px 15px;
  position: relative;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  transition: background 0.3s ease;
  text-transform: uppercase;
}
.banner-new-btn:hover {
  background: linear-gradient(45deg, #da0e17, #023575);
}
.animation-cloud-btn-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  /* border-radius: 20px; */
}
.animation-cloud-part {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  background: #0b2359;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 1.3s;
}
.animation-cloud-part:nth-child(1) {
  left: 0;
  transition-delay: 0s;
}
.animation-cloud-part:nth-child(2) {
  left: 30%;
  transition-delay: 80ms;
}
.animation-cloud-part:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.animation-cloud-part:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.banner-new-btn:hover .animation-cloud-part {
  transform: translate3d(0, 0%, 0) scale(1.7);
}
.cloud-button-content,
.hover-content {
  z-index: 10;
  position: relative;
  display: block;
  transition: transform 0.3s ease, color 0.3s ease;
}
.hover-content {
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(100%);
}
.banner-new-btn:hover .cloud-button-content {
  transform: translateY(-140%);
}
.banner-new-btn:hover .hover-content {
  transform: translateY(-100%);
  color: #ffffff;
}
.pb-60 {
  padding-bottom: 60px;
}
.pt-60 {
  padding-top: 60px;
}
.tech-web-dev .section-title-wd {
  text-align: center;
  margin-bottom: 60px;
  /* font-weight: 600; */
  width: 100%;
}
.css-masonry {
  column-count: 8;
  column-gap: 10px;
  background: rgb(73, 215, 186);
  background: radial-gradient(
    circle,
    rgba(73, 215, 186, 0.9637758062126931) 2%,
    rgba(73, 215, 186, 0) 21%
  );
  n: 10px;
  /* padding: 10px; */
}

.tech-card {
  background: white;
  border-radius: 8px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  break-inside: avoid;
  box-shadow: 0 0 10px #00000019;
}

.tech-card:hover {
  box-shadow: 0 0 10px #00000019;
}
.tech-card:hover .tech-item img {
  transform: translateY(-5px);
}
.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tech-item img {
  transition: transform 0.2s;
}

/* Varying height classes */
.tech-card.size-1 {
  padding: 15px;
}

.tech-card.size-2 {
  padding: 20px 10px;
}

.tech-card.size-3 {
  padding: 30px 20px;
}

.tech-card img {
  max-width: 50px;
  height: auto;
  margin-bottom: 8px;
}

/* Varying image sizes
.tech-card.size-1 img {
  max-width: 35px;
}

.tech-card.size-2 img {
  max-width: 40px;
}

.tech-card.size-3 img {
  max-width: 45px;
} */

.tech-name {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .tech-web-dev .css-masonry {
    column-count: 6;
  }
}

@media (max-width: 992px) {
  .tech-web-dev .css-masonry {
    column-count: 5;
  }
}

@media (max-width: 768px) {
  .tech-web-dev .css-masonry {
    column-count: 4;
  }
}

@media (max-width: 576px) {
  .tech-web-dev .css-masonry {
    column-count: 3;
  }
}
.section-sure .title-content {
  line-height: 1.6;
}
.section-sure .title-content span {
  color: #da0e17;
}
.section-content {
  padding-left: 20px;
  border-left: 3px solid #ba1425;
  /* border-radius: 6px; */
}
.tagline {
  width: fit-content;
  padding: 5px 10px;
  /* border: 1px solid grey; */
  margin-bottom: 10px;
  font-weight: 600;
  color: #ba1425;
  position: relative;
  padding-left: 25px;
}
.tagline::before {
  content: "";
  width: 15px;
  height: 2px;
  background-color: #ba1425;
  position: absolute;
  bottom: 45%;
  left: 3px;
}
/* body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.tagline {
  font-family: "Plus Jakarta Sans", sans-serif !important;
} */
.section-sure {
  position: relative;
}

.section-sure .img-wrapper .shape-1 img {
  position: absolute;
  width: 127px;
  left: -60px;
  top: -26px;
  /* transform: rotate(33deg); */
  opacity: 0.6;
}
.section-sure .img-wrapper .shape-2 img {
  position: absolute;
  animation: rotateme 20s linear infinite;
  right: -40px;
  top: 10px;
  overflow: hidden;
}
@keyframes rotateme {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.web-dev-section {
  position: relative;
}
.web-dev-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  background: url("https://samar.dexignzone.com/django/demo/images/main-slider/slider4/background2.png");
  z-index: -1;
}
/* faq section css start */
.write-for-faq {
  padding: 60px 0;
  background-color: #f8f9fa;
}
.write-for-faq .sub-title {
  font-size: 18px;
}
.write-for-faq .faq-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 10px;
  margin-top: 20px;
}
.write-for-faq .header-area {
  margin-bottom: 0px;
}
.write-for-faq .faq {
  margin-top: 40px;
}
.accordion-single {
  margin-bottom: 15px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}
.write-for-faq .accordion-btn {
  background-color: #fff;
  color: #333;
  padding: 15px 50px 15px 20px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  text-align: left;
  width: 100%;
  position: relative;
}
.write-for-faq .desc {
  margin-left: 15px;
}
.write-for-faq .accordion-btn:focus {
  outline: none;
  box-shadow: none;
}
.write-for-faq .accordion-btn::after {
  content: "\002B";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  transition: transform 0.3s ease;
  width: 25px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
}
.accordion-btn.active::after {
  content: "\2212";
}
.write-for-faq .accordion-btn.active {
  font-weight: bold;
  color: var(--primary-color);
}
.write-for-faq .content-area {
  display: none;
  padding: 0 20px 20px;
  background: #ffffff;
  font-size: 16px;
}
.write-for-faq .content-body {
  color: #666;
}
.write-for-faq .content-body ul li {
  font-size: 16px;
}
.write-for-faq .accordion-btn:hover {
  color: var(--primary-color);
  cursor: pointer;
}
/* cta */
.cta-content h3 {
  color: #ffffff;
  font-size: 40px;
  line-height: 1.4;
  text-align: center;
}
.contact-btn {
  font-weight: 600;
  letter-spacing: 0.2px;
  /* background: linear-gradient(-
  30deg, #3d0b0b 50%, #2b0808 50%); */
  background: linear-gradient(95deg, #023575 0.75%, #da0e17 101.34%);
  padding: 15px 15px;
  margin: 12px;
  display: inline-block;
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #f7d4d4;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #ffffff !important;
  border: none;
  transition: 0.5s ease-in;
}

.contact-btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ad8585;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.contact-btn:hover {
  background: linear-gradient(95deg, #da0e17 0.75%, #023575 101.34%);
  color: #ffffff;
  transition: 0.5s ease-in;
}

.contact-btn span {
  position: absolute;
}

.contact-btn span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626); */
  /* background: #ffffff9c; */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #ffffff9c);
  animation: 3s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.contact-btn span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  /* background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626); */
  /* background: #ffffff9c; */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #ffffff9c);
  animation: 3s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.contact-btn span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  /* background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626); */
  /* background: #ffffff9c; */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #ffffff9c);
  animation: 3s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.contact-btn span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  /* background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626); */
  /* background: #ffffff9c; */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), #ffffff9c);
  animation: 3s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
.cta-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: linear-gradient(180deg, #0a1425, #0a1425 0.01%, #1c2d4f);
  border-radius: 20px;
  /* background-image: url("https://www.nioland-react.themenio.com/static/media/project-manage-bg-2.ce0c45cb3e10cd32701c.svg"); */
}
.wd-section-cta {
  padding: 100px 50px;
}
.wd-section-cta .container {
  position: relative;
}
.wd-section-cta .shape-wrapper .shape-cta-1 img {
  left: 12%;
  width: 110px;
  position: absolute;
  z-index: 1;
  bottom: 22px;
  animation: bounceAnimate 2s linear infinite;
}
.wd-section-cta .shape-wrapper .shape-cta-2 img {
  right: 7%;
  width: 110px;
  position: absolute;
  z-index: 1;
  top: -15px;
  transform: rotate(70deg);
}
@keyframes bounceAnimate {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}
/* section-hiring */
.wd-section-hiring {
  padding: 60px 0px;
  background-image: url(../../asset/images/web-development/hire-bg.png);
  background-position: left;
  background-repeat: no-repeat;
}
.wd-section-hiring .section-title-wd {
  padding: 30px;
  line-height: 1.3;
}
.wd-section-hiring .wd-section-hiring-right {
  position: relative;
}
.wd-section-hiring .image-hire {
  position: absolute;
  width: 350px;
}
.wd-section-hiring .image-hire img {
  width: 350px;
}
.wd-section-hiring .image-hire-content-card {
  width: 350px;
  position: absolute;
  background: #fff;
  padding: 20px;
  border-top: 4px solid #a533b8;
  border-radius: 20px;
  left: 0;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transform: translate(50px, -50px);
}
.wd-section-hiring p {
  line-height: 1.7;
}
.wd-section-hiring .image-hire-content-card-2 span {
  width: fit-content;
  position: absolute;
  padding: 5px 15px;
  /* border-top: 4px solid #a533b8; */
  border-radius: 5px;
  left: 20%;
  line-height: 2;
  bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: swipe 4s linear infinite;
}
@keyframes swipe {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes moveBounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.wd-section-hiring .image-hire-content-card p:nth-child(1) {
  text-align: center;
}
.wd-section-hiring .image-hire-content-card span {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
}
.shpdzz {
  position: absolute;
}

.shpdez2 {
  width: 100px;
  height: 100px;
  background: #da0e17a3;
  border-radius: 00px 100px 100px;
  left: 64%;
  top: 0;
  z-index: -1;
  position: absolute;
  animation: moveBounce 4s linear infinite;
}
.shpdez1 {
  width: 90px;
  height: 90px;
  background: #023575ed;
  border-radius: 100px 100px 00px;
  left: 0;
  bottom: 20px;
}
.shape-arrow img {
  width: 135px;
  transform: rotate(160deg);
}
.shape-arrow {
  right: 16%;
  bottom: 23px
}
.adds_value.gcv {
  padding-bottom: 20px;
}
/* banner-web dev */
.wd-section-banner {
  background-image: url(../../asset/images/web-development/banner-1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.wd-section-banner .banner-content {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.wd-section-banner .banner-tagline {
  text-align: center;
  margin: 20px;
}
.wd-section-banner .banner-tagline span {
  font-weight: 600;
  padding: 10px 15px;
  background: aliceblue;
  margin: 20px;
}
.wd-section-banner .title {
  text-align: center;
  line-height: 1.4;
  color: #000;
  font-size: 42px;
}
.wd-section-banner .title span {
  background: linear-gradient(95deg, #023575 0.75%, #da0e17 101.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  position: relative;
  display: inline-block;
}

.title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 3px;
  background: linear-gradient(95deg, #023575 0.75%, #da0e17 101.34%);
  animation: grow 2.5s forwards linear infinite;
}

@keyframes grow {
  to {
    width: 100%;
  }
}

.flex-col {
  flex-direction: column;
}
.faq-section-wd .faq-section {
  background-color: #fff !important;
  padding: 0;
  min-height: fit-content;
}
.faq-section-wd .faq-header {
  margin-bottom: 2rem;
}
.faq-section-wd .faq-header .section-title-wd {
  line-height: 1.3;
}

.faq-section-wd .faq-header .contact-btn {
  margin: 0 !important;
}

.faq-section-wd .faq-description {
  color: #6c757d;
  margin-bottom: 1.5rem;
}

.faq-section-wd .card {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  /* margin-bottom: 1rem; */
  border-radius: 0px;
}

.faq-section-wd .card-header {
  background: none;
  border: none;
  padding: 15px 10px;
  cursor: pointer;
}

.faq-section-wd .card-header h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 17px;
}

.faq-section-wd .card-header h2:after {
  content: "+";
  float: right;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000;
}

.faq-section-wd .card-header.active h2:after {
  content: "−";
  font-size: 1.5rem;
}

.faq-section-wd .card-body {
  border: none !important;
  color: #434141;
  line-height: 1.6;
  /* letter-spacing: 0.1px; */
  font-size: 16px;
}

.faq-section-wd .card-body p {
  margin: 0;
  color: #4a5568;
}
#faqAccordion .card-header h2[aria-expanded="true"],
#faqAccordion .collapse.show + .card-header h2 {
  font-weight: bold;
}
.mCommerce .boxes li img {
  position: relative;
}

.mCommerce .boxes li img::after {
  content: " ";
  height: 50px;
  width: 50px;
  background-color: peachpuff;
  position: absolute;
}
.service-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.mCommerce .boxes li {
  padding: 6px;
}

.service-list li {
  width: 220px;
  text-align: center;
}

.service-list li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.mcommerce-icon {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto 1.5rem;
  overflow: hidden;
  border-radius: 50%;
}

/* .mcommerce-icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  background-color: #eb01010f;
  top: 50%;
  left: 0;
  transition: all 0.3s ease-out;
  transform-origin: top center;
  transform: rotate(45deg);
} */

/* .mCommerce .boxes li:hover .mcommerce-icon::before {
  top: 0;
  left: 50%;
} */

.mcommerce-icon img {
  position: relative;
  z-index: 1;
  top: 10px;
  width: 90px !important;
}

.service-list h3 {
  font-size: 1.2rem;
  color: #333;
  margin-top: 0.5rem;
}
.mCommerce .boxes li {
  height: 200px !important;
  width: 190px !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.mCommerce .boxes li:nth-child(3) {
  width: 250px !important;
}
.mCommerce .boxes li:nth-child(3) img {
  top: 0;
  width: 105px !important;
}
.mCommerce .boxes li:nth-child(3) .mcommerce-icon {
  border-radius: unset !important;
}
/* responsive */
@media (max-width: 767px) {
  .wd-section.section-sure .section-intro {
    flex-direction: column;
  }
  .web-dev-section .web-dev-section-content {
    padding-left: 20px;
  }
  .wd-section.section-sure .section-content {
    border: none !important;
  }
  .tech-web-dev .section-title-wd {
    font-size: 32px;
  }
  .wd-section-hiring .section-title-wd {
    line-height: 1.2;
    font-size: 32px;
    padding: 0px !important;
  }
  .adds_value.madcValue.howAnd_why.appMaintenance.cs_software .container {
    padding: 00px 20px;
  }
  .adds_value.madcValue.howAnd_why.appMaintenance.cs_software .r-and-d,
  .adds_value.madcValue.howAnd_why.appMaintenance.cs_software .dev-test-debug {
    flex-direction: column-reverse;
  }
  .adds_value.madcValue.howAnd_why.appMaintenance.cs_software .r-and-d {
    margin-top: 40px;
  }
  .wd-section-hiring .container {
    padding: 0px 20px !important;
  }
  .wd-section-hiring .image-hire-content-card {
    position: unset !important;
    transform: translate(0px);
  }
  .wd-section-hiring .image-hire-content-card-2 span {
    bottom: -58px;
    left: 15%;
  }
  .wd-section-hiring .section-hiring-right {
    display: flex;
    justify-content: center;
  }
  .shpdez1 {
    width: 40px;
    height: 40px;
    left: 10px;
    bottom: -35px;
    animation: swipe 4s linear infinite;
  }
  .shape-arrow {
    right: 0;
    bottom: -50px;
  }
  .shape-arrow img {
    width: 100px;
    transform: rotate(152deg);
  }
  .wd-section-hiring {
    padding-bottom: 100px !important;
    padding-top: 20px;
  }
  .write-for-faq .faq-title {
    font-size: 32px;
  }
  .faq-section-wd .faq-section {
    padding: 00px 20px;
  }
  .faq-section-wd .card-header h2 {
    line-height: 1.5;
    align-items: start;
  }
  .faq-section-wd .card-header h2:after {
    line-height: 1;
  }
  .faq-section-wd .card {
    padding: 10px;
  }
  .faq-section-wd .faq-section .accordion {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
    border-radius: 20px;
  }
  .faq-section-wd .card:nth-child(1) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .faq-section-wd .card:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .wd-section-cta {
    padding: 0px;
  }
  .wd-section-cta .cta-content {
    padding: 20px;
  }
  .wd-section-cta .cta-content h3 {
    font-size: 24px;
  }
  .wd-section-cta .shape-wrapper .shape-cta-1 img {
    left: 20px;
    width: 65px;
    bottom: 0;
  }
  .wd-section-cta .shape-wrapper .shape-cta-2 img {
    right: -10px;
  }
  .web-dev-page .footer .lets_talksection {
    margin-top: 130px;
  }
  .wd-section-banner .title {
    font-size: 25px;
  }
  .wd-section-banner .banner-tagline {
    margin: 20px 00px;
  }
  .wd-section-banner .banner-content {
    height: fit-content;
    margin-top: 0px;
  }
}
@media (max-width: 1024px) {
  .hid-tab {
    display: none !important;
  }
  .table-cell-content {
    justify-content: center;
  }
  .web_process_banner .table .table-cell:last-child {
    padding: 0px;
  }
  .web_process_banner .table .table-cell .font-web {
    text-align: center;
  }
  .table-cell-button{
    text-align: center;
  }
}
